html {
    background: linear-gradient(black, rgb(26, 172, 67)) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body{
    color: white;    
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px 100px;
}

header ul{ 
    font-size: larger;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 16px;    
}

a{
    color: white;
    text-decoration: none;
}

header img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid green;
}

footer img{
    background-color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;

    
}

div.transbox {   
   padding: 10px 10px;  
   border-radius: 30px; 
   background-color: rgba(0, 0, 0, 0.418);
   border: 1px solid rgb(255, 255, 255);
   opacity: 0.9
  }

 section img{
    
    
     width: 120px;  
     height: 120px;

  }

footer ul{
    display: flex;
    justify-content: center;    
    list-style-type: none;

}

.centerimage{    
    text-align: center; 

}
nav a:hover {
    color: #5bbe42;
}

h1  {
    text-align: center;
}

h2  {
    text-align: center;
}

